<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uqac.dim.partysurvivor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PartySurvivor">
        <activity
            android:name=".TestAddImage"
            android:exported="true" />
         <!--
         <activity
            android:name=".Authentification"
            android:exported="true" />
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".FeaturedDrink"
            android:exported="false" />
        <activity
            android:name=".ActivityListAlcool"
            android:exported="false" />
        <activity
            android:name=".MainActivityAlcoolMenu"
            android:exported="false" />
        <activity
            android:name=".menu_temp"
            android:exported="false" />
        <activity
            android:name=".ChoixFavoris"
            android:exported="false" />
        <activity
            android:name=".CreationItem"
            android:exported="false" />
        <activity
            android:name=".ChoixCategorie"
            android:exported="false" />
        <activity
            android:name=".CocktailPreview"
            android:exported="true" />
        <activity
            android:name=".GamePreview"
            android:exported="true" />
        <activity
            android:name=".ChoixJeu"
            android:exported="false" />
        <activity
            android:name=".ChoixTypeJeu"
            android:exported="true" />
        <!--
<activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".Authentification"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>